/* src/app/page.module.css */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

/* Menú de navegación */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: calc(100% - 80px);
}

.nav a {
  position: relative; /* Necesario para que el ::after se posicione correctamente */
  text-decoration: none; /* Quita el subrayado predeterminado */
  color: #181818;
  font-weight: normal;
  letter-spacing: 0.7px;
  padding-bottom: 5px; /* Espacio para el subrayado */
  transition: color 0.3s; /* Transición para el color */
}

/* Línea animada debajo del enlace */
.nav a::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0; /* Coloca la línea justo debajo del enlace */
  transition: width 0.3s; /* Transición para el ancho */
}

/* Hover: Cambia el color y extiende la línea */
.nav a:hover {
  color: #000;
}

.nav a:hover::after {
  width: 100%; /* Expande la línea para cubrir todo el enlace */
}


/* Contenedor derecho */
.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  position: relative; /* Permite posicionar el nav absolutamente */
}


/* Imagen principal */
.imageContainer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.placeholderImage {
  width: 90%;
  height: 90%;
  background: url('/images/placeholder.jpg') center center / cover no-repeat;
}

/* Texto de bienvenida */
.welcomeText {
  width: 500px; /* Ancho fijo para el bloque de texto */
  margin-left: calc(50% - 150px); /* Centra el bloque restando la mitad del ancho */
  text-align: left; /* Alinea el texto dentro del bloque a la izquierda */
}

.welcomeText p {
  font-size: 2rem;
  margin: 0;
}

.welcomeText h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

/* src/app/page.module.css */

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease, filter 0.1s ease-in-out;
}
